#experiences{
    background-color: black;
    padding: 60px 0px;

    position: relative;
}

.title-text{
    color: white;
    text-align: center;

    margin-bottom: 20px;
}

.cards-container{
    position: relative;
    padding: 60px 5% 30px;
}

.exp-card-container{
    display: flex;
}

.exp-card{
    width: 40%;
    opacity: 0;
    transition: all 1s;
}

/*styles for odd and even cards*/
.exp-card-container:nth-child(odd){
    justify-content: end;
}

.exp-card-container:nth-child(even) .exp-card{
    transform: translateX(20px);
}

.exp-card-container:nth-child(odd) .exp-card{
    transform: translateX(-20px);
}

.translate-0{
    transform: translateX(0px) !important;
    opacity: 1;
}

.line{
    position: absolute;
    top: 0px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 12px; 
    border-radius: 3px;
    /*height: 108%; */
    /*background-color: #FFCD1D;*/
    z-index: 0;
}

.horizontal-line{
    position: absolute;
    width: 0px;
    margin-top: 38px;
    height: 10px; 
    border-radius: 2px;
    background-color: #FFCD1D;
    z-index: 0;
    transition: width .5s ease-in;
}

.exp-card-container:nth-child(odd) .horizontal-line{
    left: 50%;
}

.exp-card-container:nth-child(even) .horizontal-line{
    right: 50%;
}

.hor-width{
    width: 10%;
}


@media(max-width: 800px){
    .cards-container > .exp-card-container {
        /*Override the odd card rule */
        justify-content: start;
        margin-bottom: 50px;
    }

    .exp-card-container:nth-child(even) .exp-card,
    .exp-card-container:nth-child(odd) .exp-card { 
        transform: translateX(-20px);
    }

    .exp-card-container:nth-child(even) .horizontal-line,
    .exp-card-container:nth-child(odd) .horizontal-line {
        left: 5%;
    }

    .exp-card{
        margin-left: 10%;
        width: 80%;
    }

    .line{
        left: 5%;
    }

        
}

@media(max-width: 520px){
    .line{
        display: none;
    }
    
    .cards-container{
        padding-left: 0px;
    }
}