<section id="about-me">
    <div class="text">
        <h1 class="title-text title-section">{{'aboutMe.title' | translate}}<span class="yellow-point">.</span></h1>
        <p>{{'aboutMe.text' | translate}}
        </p>
        <div class="btns">
            <button class="btn">{{'aboutMe.buttonCV' | translate}}</button>
            <a href="#contact"><button class="btn-princ">{{'aboutMe.buttonContact' | translate}}</button></a>
        </div>
    </div>
    
    <div class="images">
        <img class='woman-icon'src="assets/img/icon-about-me.png" alt="ícone sobre mim">
        <div class="circles">
            <img class= 'circles-icon' src="assets/img/white-circles.png">
        </div>
    </div>

</section>
