#header{
    margin: 0;
    padding: 20px 0px 10px;
    background-color: #F5F5F5; 

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.menu-container{
    list-style: none;
    display: none;
    margin: 0px;
    flex-direction: column;
    gap: 60px;

    background-color: rgb(0, 0, 0);

    position: fixed;
    top: 0px;
    width: 25%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.menu-container li{
    position: relative;
    animation: openMenu .7s;
}

.menu-container.active {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu-item{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 30px;
}

.menu-item:hover,.btn-item:hover{
    cursor: pointer;
}

.menu-item:hover, .btn-item .menu-item:hover{
    color: #FFCD1D;
}

.btn-item{
    background-color: black;
    border-radius: 20px;
    padding: 8px 30px;
    border: 1px solid #FFCD1D;
}

.btn-item .menu-item{
    color: white;
}

.lang-menu{
    position: absolute;
    right: 3%;
}

.btn-lang{
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    font-weight: 600;
    font-size: 14px;

    border: 1px solid black;
    border-radius: 10px;
    padding: 6px 8px;
}

.btn-lang:hover{
    cursor: pointer;
}

.btn-lang img, .btn-lang .fa-earth-americas{
    margin-right: 10px;
}

.btn-lang i{
    font-size: 16px;
}

.dropdown-menu{
    background-color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}

.dropdown-menu .op1{
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 5px;
}

.dropdown-menu .op2{
    padding-top: 5px;
}

.dropdown-menu .op2:hover, .dropdown-menu .op1:hover {
    cursor: pointer;
}

.toggle-button-container{
    position: relative;
    padding-left: 30px;
}
  
.toggle-button {
    display: block; 
    cursor: pointer;
    position: relative;
    z-index: 4;
    width: 30px;
    height: 36px;
    padding: 0px 15px;
    background-color: black;
    border-radius: 15px;
}

.toggle-button-container::before{
    content: '';
    display: block;
    width: 60px;
    height: 36px;
    border-radius: 15px;
    background-color: #FFCD1D;
    position: absolute;
    left: 26px;
    top: 4px;
}

.toggle-button.active::after{
    display: none;
}
  
.toggle-button .bar {
    display: block;
    position: absolute;
    height: 3px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

    transition: transform .5s cubic-bezier(.57,-0.56,.15,1.5);
}

.toggle-button .bar-top{
    width: 15px;
    top: 8px;
}

.toggle-button .bar-middle{
    width: 30px;
    top: 16px;
}

.toggle-button .bar-bottom{
    width: 15px;
    top: 24px;
    margin-left: 15px;
}

.toggle-button.active{
    background-color: transparent;
}

.toggle-button.active .bar{
    position: fixed;
    background-color: #FFCD1D;
}

.toggle-button.active .bar-top{
    transform: translateY(8px) rotate(45deg);
    transform-origin: right;
    top: 25px;
}

.toggle-button.active .bar-bottom{
    transform: translateY(-8px) rotate(45deg);
    transform-origin: left;
    top: 41px;
}

.toggle-button.active .bar-middle{
    transform: rotate(-45deg);
    top: 33px;
}

@media(max-width: 948px){
    .menu-container{
        gap: 40px;
        margin-right: 40px;
    }
    .btn-item{
        padding: 8px 20px;
    }
}

@keyframes openMenu {
    0%{
        opacity: 0;
        top: -200px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}


