<div class="projects-slider" #sectionRef [class.is-transitioning]="isTransitioning">
  <div class="slider-copy">
    <div class="slider-header">
      <h2 class="title-section">{{ sectionTitle }}<span class="yellow-point">.</span></h2>
      <p class="subtitle">{{ sectionSubtitle }}</p>
    </div>

    

    <div class="slider-controls">
      <button type="button" class="nav-btn" (click)="prevSlide()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <div class="slider-dots">
        @for (slide of slides; track slide; let i = $index) {
          <span
            class="dot"
            [class.active]="currentIndex === i"
            (click)="onDotClick(i)">
          </span>
        }
      </div>

      <button type="button" class="nav-btn" (click)="nextSlide()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    @if (currentSlide; as slide) {
      <div class="slide-text">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.description }}</p>
      </div>
    }
  </div>

  @if (currentSlide; as slide) {
    <div class="slider-visual">
      <div
        class="image-frame"
        [class.is-transitioning]="isTransitioning"
        (wheel)="onImageWheel($event)">
        <img [src]="slide.image" [alt]="slide.title"  />
      </div>
    </div>
  }
</div>