.card{
    background-color: white;
    border-radius: 15px;

    padding: 30px;

    min-width: 200px;
    position: relative;
    z-index: 1;
}

.experience-title, .experience-company{
    font-family: 'poppins', sans-serif;
    margin-left: 10px;
    margin-bottom: 7px;
}

.experience-title{
    font-weight: bold;
    font-size: 20px;
}

.experience-company{
    font-size: 14px;
}

ul {
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 12px;
    list-style:none;
}

li{
    margin-bottom: 15px;
    color: #474747;
}

@media(max-width: 830px){
    .experience-title{
        font-size: 18px;
    }

    .experience-company{
        font-size: 10px;
    }

    li{
        font-size: 14px;
    }
}