/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.yellow-point{
    color: #FFCD1D;
}

.title-text{
    font-family: 'poppins', sans-serif;
}

.title-section{
    font-size: 34px;
}

.fa-chevron-left, .fa-chevron-right{
    font-size: 24px;
    color: #FFCD1D;
}

.fa-chevron-left:hover, .fa-chevron-right:hover{
    cursor: pointer;
}

@media(max-width: 768px){
    .title-section{
        font-size: 28px;
    }
}